!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    
    %title
      = yield :title

  %body{ :class => yield(:body_class) }
    %section#head
      %section#user
        - if current_user
          Logget inn som
          = link_to current_user.email, current_user
          != "(#{link_to t('users.logout'), logout_path, :method => :destroy})"
        - else
          Ikke logget inn.
          = link_to "Logg inn", new_user_session_path
          eller
          = link_to "registrer deg", new_user_path        
      #logo
        = link_to "trackr.no", root_path
      %nav#main
        

    %section#page
      %header#pageheader
        
        - unless yield(:tools).empty?
          %aside.page.tools
            = yield :tools
        
        - unless yield(:header).empty? and yield(:title).empty?
          %h1#pagetitle
            = yield(:header) unless yield(:header).empty?
            = yield(:title) if yield(:header).empty?
      
      #mainarea
      
        %section#sidebar
          - unless yield(:crud).empty?
            %section.crud
              %ul
                = yield :crud
          
          = yield :sidebar
        
        %section#content
          - flash.each do |name, msg|
            = content_tag :p, msg, :class => "flash #{name}"
          
          = yield
